<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/house-page-style.css') }}">
    <link id="favicon" rel="icon" type="image/x-icon" href="/img/svg/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Стили плагина Slick -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <title>House</title>
</head>
<body>
    <header class="header">
        <div class="header-container _container">
            <a class="header__logo" href="{{ url_for( 'homepage' ) }}">
                <div class="header__logo_img"></div>
                <p class="header__logo_text">
                    A-Frame.Kam
                </p>
                <p class="header__logo_text-hidden">
                    A-F.K
                </p>
            </a>
            <div class="header__nav">
                <ul class="header__nav_list">
                    <li class="header__nav_list-item">
                        <a class="header__nav_list-link" href="{{ url_for( 'homepage' ) }}#contacts">
                            Контакты
                        </a>
                    </li>
                    <li class="header__nav_list-item">
                        <a class="header__nav_list-link" href="{{ url_for( 'homepage' ) }}#gallery">
                            Галерея
                        </a>
                    </li>
                    <li class="header__nav_list-item">
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                            <a class="header__nav_list-link" href="{{ url_for('admin') }}">
                                Админка
                            </a>
                            {% else %}
                            <a class="header__nav_list-link" href="{{ url_for('profile') }}">
                                Профиль
                            </a>
                            {% endif %}
                        {% else %}
                        <a class="header__nav_list-link" href="{{ url_for('login') }}">
                            Войти
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="header__menu">
                <div class="icon-line"></div>
                <div class="icon-line"></div>
                <div class="icon-line"></div>
                <div class="menu-container">
                    <a class="menu-container__link" href="{{ url_for( 'homepage' ) }}#contacts">Контакты</a>
                    <a class="menu-container__link" href="{{ url_for( 'homepage' ) }}#gallery">Галерея</a>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        <a class="menu-container__link" href="{{ url_for('admin') }}">
                            Админка
                        </a> 
                        {% else %}
                        <a class="menu-container__link" href="{{ url_for('profile') }}">
                            Профиль
                        </a>
                        {% endif %}
                    {% else %}
                    <a class="menu-container__link" href="{{ url_for('login') }}">
                        Войти
                    </a>
                    {% endif %}
                </div>  
            </div>
        </div>
    </header>
    <main class="main">
        <section class="section-1" id="section1">
            <video class="video-background" autoplay loop playsinline muted>
                <source src="{{ url_for('static', path='/img/video/' ~ data.id ~ '/output.mp4') }}" type="video/mp4">
                Ваш браузер не поддерживает видеоформат.
            </video>
            <h1 class="section-1__title">
                {{ data.style }}
            </h1>
            <form action="{{ url_for( 'homepage' ) }}">
                <button class="section-1__button">
                    На главную страницу
                </button>
            </form>
        </section>
        <section class="section-2">
            <div class="section-2__text-block _container">
                <h1 class="section-2__text-block_title">
                    Инфоблок
                </h1>
                <h2 class="section-2__text-block_text">
                    {{ data.description }} <br>
                    1. Основной цвет: {{ data.color }} <br>
                    2. Размер: {{ data.size }} м<sup>2</sup> <br>
                    3. Расположение на участке: {{ data.location }} <br>
                    4. Дополнения: {{ data.add }} 
                    <label class="switch">
                        <input type="checkbox" id="checkAdd">
                        <span class="slider round"></span>
                    </label>
                      <br>
                    5. Цена одних суток: {{ data.cost }}&#8381;
                </h2>
            </div>
            <div class="section-2__slider-infinity_block">
                <div class="section-2__slider-infinity">
                    <div class="slider__item">
                        <div class="slider__item_box">
                            <div class="slider__item_box-block">
                                <img loading="lazy" class="slider__item_box-block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_1.jpg') }}" alt="First picture in slider">
                            </div>
                            <h1 class="slider__item_box-title">
                                A-frame
                            </h1>
                            <h2 class="slider__item_box-text">
                                Уютный A-frame дом в стиле ретро, окруженный природой.
                            </h2>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__item_box">
                            <div class="slider__item_box-block">
                                <img loading="lazy" class="slider__item_box-block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_2.jpg') }}" alt="Second picture in slider">
                            </div>
                            <h1 class="slider__item_box-title">
                                Беседка
                            </h1>
                            <h2 class="slider__item_box-text">
                                Очаровательная беседка на свежем воздухе.
                            </h2>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__item_box">
                            <div class="slider__item_box-block">
                                <img loading="lazy" class="slider__item_box-block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_3.jpg') }}" alt="Third picture in slider">
                            </div>
                            <h1 class="slider__item_box-title">
                                Гостевая
                            </h1>
                            <h2 class="slider__item_box-text">
                                Просторная комната с комфортной мебелью.
                            </h2>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__item_box">
                            <div class="slider__item_box-block">
                                <img loading="lazy" class="slider__item_box-block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_4.jpg') }}" alt="Fourth picture in slider">
                            </div>
                            <h1 class="slider__item_box-title">
                                Игры
                            </h1>
                            <h2 class="slider__item_box-text">
                                Уголок для отдыха с разнообразными настольными играми и консолью Sega.
                            </h2>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__item_box">
                            <div class="slider__item_box-block">
                                <img loading="lazy" class="slider__item_box-block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_5.jpg') }}" alt="Fifth picture in slider">
                            </div>
                            <h1 class="slider__item_box-title">
                                Ванная
                            </h1>
                            <h2 class="slider__item_box-text">
                                Чистая и современная ванная с удобствами.
                            </h2>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__item_box">
                            <div class="slider__item_box-block">
                                <img loading="lazy" class="slider__item_box-block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_6.jpg') }}" alt="Sixth picture in slider">
                            </div>
                            <h1 class="slider__item_box-title">
                                Кухня
                            </h1>
                            <h2 class="slider__item_box-text">
                                Стильная кухня с открытой планировкой и уютной обеденной зоной.
                            </h2>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__item_box">
                            <div class="slider__item_box-block">
                                <img loading="lazy" class="slider__item_box-block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_8.jpg') }}" alt="Seventh picture in slider">
                            </div>
                            <h1 class="slider__item_box-title">
                                Чан
                            </h1>
                            <h2 class="slider__item_box-text">
                                За доп. плату вы можете насладиться банным чаном на открытом воздухе.
                            </h2>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider__item_box">
                            <div class="slider__item_box-block">
                                <img loading="lazy" class="slider__item_box-block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_7.jpg') }}" alt="Eighth picture in slider">
                            </div>
                            <h1 class="slider__item_box-title">
                                Спальня
                            </h1>
                            <h2 class="slider__item_box-text">
                                Спальня на втором этаже с проектором, идеальная для просмотра фильмов.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-2__slider-touch_block">
                <div class="section-2__slider-touch">
                    <div class="slider-touch__item">
                        <div class="slider-touch__item_block">
                            <img loading="lazy" class="slider-touch__item_block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_1.jpg') }}" alt="First picture in slider-mobile">
                        </div>
                        <p class="slider-touch__item_title">
                            A-frame
                        </p>
                        <p class="slider-touch__item_text">
                            Уютный A-frame дом в стиле ретро, окруженный природой.
                        </p>
                    </div>
                    <div class="slider-touch__item">
                        <div class="slider-touch__item_block">
                            <img loading="lazy" class="slider-touch__item_block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_2.jpg') }}" alt="Second picture in slider-mobile">
                        </div>
                        <p class="slider-touch__item_title">
                            Беседка
                        </p>
                        <p class="slider-touch__item_text">
                            Очаровательная беседка на свежем воздухе.
                        </p>
                    </div>
                    <div class="slider-touch__item">
                        <div class="slider-touch__item_block">
                            <img loading="lazy" class="slider-touch__item_block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_3.jpg') }}" alt="Third picture in slider-mobile">
                        </div>
                        <p class="slider-touch__item_title">
                            Гостевая
                        </p>
                        <p class="slider-touch__item_text">
                            Просторная комната с комфортной мебелью.
                        </p>
                    </div>
                    <div class="slider-touch__item">
                        <div class="slider-touch__item_block">
                            <img loading="lazy" class="slider-touch__item_block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_4.jpg') }}" alt="Fourth picture in slider-mobile">
                        </div>
                        <p class="slider-touch__item_title">
                            Игры
                        </p>
                        <p class="slider-touch__item_text">
                            Уголок для отдыха с разнообразными настольными играми и консолью Sega.
                        </p>
                    </div>
                    <div class="slider-touch__item">
                        <div class="slider-touch__item_block">
                            <img loading="lazy" class="slider-touch__item_block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_5.jpg') }}" alt="Fifth picture in slider-mobile">
                        </div>
                        <p class="slider-touch__item_title">
                            Ванная
                        </p>
                        <p class="slider-touch__item_text">
                            Чистая и современная ванная с удобствами.
                        </p>
                    </div>
                    <div class="slider-touch__item">
                        <div class="slider-touch__item_block">
                            <img loading="lazy" class="slider-touch__item_block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_6.jpg') }}" alt="Sixth picture in slider-mobile">
                        </div>
                        <p class="slider-touch__item_title">
                            Кухня
                        </p>
                        <p class="slider-touch__item_text">
                            Стильная кухня с открытой планировкой и уютной обеденной зоной.
                        </p>
                    </div>
                    <div class="slider-touch__item">
                        <div class="slider-touch__item_block">
                            <img loading="lazy" class="slider-touch__item_block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_8.jpg') }}" alt="Seventh picture in slider-mobile">
                        </div>
                        <p class="slider-touch__item_title">
                            Чан
                        </p>
                        <p class="slider-touch__item_text">
                            За доп. плату вы можете насладиться банным чаном на открытом воздухе.
                        </p>
                    </div>
                    <div class="slider-touch__item">
                        <div class="slider-touch__item_block">
                            <img loading="lazy" class="slider-touch__item_block" src="{{ url_for('static', path='img/jpg/' ~ data.id ~ '/IMG_7.jpg') }}" alt="Eighth picture in slider-mobile">
                        </div>
                        <p class="slider-touch__item_title">
                            Спальня
                        </p>
                        <p class="slider-touch__item_text">
                            Спальня на втором этаже с проектором, идеальная для просмотра фильмов.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-3 _container">
            <p class="section-3__text">
                Выберите даты вашего пребывания (выселение в 12:00, заселение в 14:00)
            </p>
<br>
                <div class="calendar-container">
                    <header class="calendar-header">
                        <p class="calendar-current-date"></p>
                        <div class="calendar-navigation">
                            <span id="calendar-prev" 
                                class="material-symbols-rounded">
                                chevron_left
                            </span>
                            <span id="calendar-next" 
                                class="material-symbols-rounded">
                                chevron_right
                            </span>
                        </div>
                    </header>
                    <div class="calendar-body">
                        <ul class="calendar-weekdays">
                            <li>Пн</li>
                            <li>Вт</li>
                            <li>Ср</li>
                            <li>Чт</li>
                            <li>Пт</li>
                            <li>Сб</li>
                            <li>Вс</li>
                        </ul>
                        <ul class="calendar-dates"></ul>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <button class="section-3__block_btn" id="calendar-button">
                    Зарезервировать
                </button>
                {% else %}
                <button class="section-3__block_btn"><a style="color: black;" href="{{ url_for('login') }}">Войдите в систему</a></button>
                {% endif %}
                <div id="answer" style="margin-top: 10px;"></div>
            <script>
                const costDay = "{{ data.cost }}"
                const disabledDates = "{{ booked_dates }}"
            </script>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__policy">
            <p class="footer__policy_text">
                © Все права защищены
            </p>
            <a href="#section1" class="footer__policy_link"></a>
        </div>
      <!-- Бибилиотека Jquery -->
      <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
      <!-- Slick -->
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
      <script src="{{ url_for( 'static', path='/menu.js' ) }}"></script>
      <script src="{{ url_for( 'static', path='/main.js' ) }}"></script>
      <script src="{{ url_for( 'static', path='/datepicker.js' ) }}"></script>
</body>
</html>