secret_create=" python3 -c 'import secrets; print(secrets.token_hex())' "
SOME="docker exec -it postgres psql db -U pguser" # команда для прямого подключения к бд

DB_ECHO="1"
DEBUG="1"
PROJECT_NAME="Support"
VERSION="0.0.1"
CORS_ALLOWED_ORIGINS=http://localhost:3000
TEMPLATE_URL="{path_to_'template'_dir}"
TESTING=False

# ===== POSTGRES DOCKER =====
POSTGRES_TEST_DB=test_db
POSTGRES_DB=app_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# ===== AUTH =====
RESET_PASSWORD_TOKEN_SECRET="{secret_create}"
VERIFICATION_TOKEN_SECRET="{secret_create}"
JWT_SECRET="{secret_create}"
DEFAULT_EMAIL="{email}"
DEFAULT_PWD="{password}"
DEFAULT_TG_ID={your_tg_id}

# ===== BOT =====
TOKEN="{token}"
API_URL="{url}"


# ===== SMTP =====
MAIL_USERNAME="{login}"
MAIL_PASSWORD="{password}"
MAIL_SERVER=smtp.yandex.ru
MAIL_PORT=465
MAIL_FROM="{sender_address}"
MAIL_FROM_NAME="{title_for_mail}"

# ===== CELERY =====
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_NUMBER_OF_WORKERS=1