fastapi==0.112.0
aiogram==3.10.0
alembic==1.13.2
asyncpg==0.29.0
celery==5.4.0
fastapi-cache2==0.2.2
fastapi-users==13.0.0
flower==2.0.1
gevent==24.11.1
Jinja2==3.1.4
prometheus-fastapi-instrumentator==7.0.0
psycopg-binary==3.2.1
pydantic==2.8.2
pytest==8.3.5
redis==5.0.8
uvicorn==0.30.5
sqlalchemy-utils==0.41.2
pydantic-settings==2.4.0
fastapi-users-db-sqlalchemy==6.0.1
httpx-oauth==0.16.0
