<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project</title>
    <link rel="stylesheet" href="https://r.mobirisesite.com/623546/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1723664572566">
    <link rel="stylesheet" href="https://r.mobirisesite.com/623546/assets/bootstrap/css/bootstrap.min.css?rnd=1723664572566">
    <link rel="stylesheet" href="https://r.mobirisesite.com/623546/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1723664572567">
    <link rel="stylesheet" href="https://r.mobirisesite.com/623546/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1723664572567">
    <link rel="stylesheet" href="https://r.mobirisesite.com/623546/assets/parallax/jarallax.css?rnd=1723664572567">
    <link rel="stylesheet" href="https://r.mobirisesite.com/623546/assets/dropdown/css/style.css?rnd=1723664572567">
    <link rel="stylesheet" href="https://r.mobirisesite.com/623546/assets/socicon/css/styles.css?rnd=1723664572567">
    <link rel="stylesheet" href="https://r.mobirisesite.com/623546/assets/theme/css/style.css?rnd=1723664572567">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap&display=swap"></noscript>
    <link rel="stylesheet" href="https://r.mobirisesite.com/623546/assets/css/mbr-additional.css?rnd=1723664572567" type="text/css">

</head>
<body>

  <section data-bs-version="5.1" class="menu menu2 cid-uls8HqEtwc" once="menu" id="menu-5-uls8HqEtwc">

	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg navbar-short">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="https://mobiri.se">
						<img src="https://r.mobirisesite.com/623546/assets/images/photo-1705613644303-35189649b9c9.jpeg" alt="Mobirise Website Builder" style="height: 4.3rem;">
					</a>
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="https://mobiri.se">A-Frame.Kam</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se">Домики</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se" aria-expanded="false">Галерея</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="https://mobiri.se">Контакты</a>
					</li>
				</ul>

				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-primary display-4" href="https://mobiri.se">Забронировать сейчас</a>
				</div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header18 cid-uls8HqNOKk mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/LhTxrJaoCKY?autoplay=1&amp;loop=1&amp;playlist=LhTxrJaoCKY&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="hero-16-uls8HqNOKk"><div class="mbr-background-video-preview" style="display: none; background-size: cover; background-position: center center;"></div>


  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0); --darkreader-inline-bgcolor: #181a1b;" data-darkreader-inline-bgcolor=""></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>A-Frame</strong>
        </h1>

        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Погрузитесь в мир уникальных деревянных домиков!</p>
        <div class="mbr-section-btn">
          <a class="btn btn-white-outline display-7" href="https://mobiri.se">Узнать больше</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features017 mbr-embla cid-uls8HqOYy4" id="features-17-uls8HqOYy4">


    <div class="position-relative">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Наши уникальные домики</strong>
                        </h4>
                        <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4 display-7">Каждый домик — это произведение искусства!</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="embla" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid is-draggable">
                <div class="embla__container" style="transform: translate3d(-1.08696%, 0px, 0px);">
                    <div class="embla__slide slider-image item active is-selected" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="https://r.mobirisesite.com/623546/assets/images/photo-1482689860904-c5747d0c8995.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5">
                                    <strong>Эко-дизайн</strong>
                                </h5>

                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Сделаны из натуральных материалов, дышат с природой.</p>
                            </div>


                        </div>
                    </div>
                    <div class="embla__slide slider-image item is-selected" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="https://r.mobirisesite.com/623546/assets/images/photo-1549126740-1990daa234ec.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5">
                                    <strong>Уют и комфорт</strong>
                                </h5>

                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Каждый домик — это ваш личный рай на земле.</p>
                            </div>

                        </div>
                    </div>
                    <div class="embla__slide slider-image item is-selected" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="https://r.mobirisesite.com/623546/assets/images/photo-1506278940547-8a7b59598072.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5">
                                    <strong>Идеально для отдыха</strong>
                                </h5>

                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Сбегите от городской суеты и насладитесь тишиной.</p>
                            </div>

                        </div>
                    </div>
                    <div class="embla__slide slider-image item is-selected" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="https://r.mobirisesite.com/623546/assets/images/photo-1659234092690-08b9f1a82bb7.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="4" data-bs-slide-to="4">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5">
                                    <strong>Фотогеничные места</strong>
                                </h5>

                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Каждый уголок — идеален для Instagram.</p>
                            </div>

                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-img">
                                <div class="item-wrapper">
                                    <img src="https://r.mobirisesite.com/623546/assets/images/photo-1556967171-6e7a79e8b1e2.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="5" data-bs-slide-to="5">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-5">
                                    <strong>Бронирование онлайн</strong>
                                </h5>

                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Легко и быстро, не выходя из дома.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <button class="embla__button embla__button--prev" disabled="disabled">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery10 cid-uls8HqR4uF" id="features-69-uls8HqR4uF">



  <div class="container-fluid">

      <div class="loop-container" style="position: relative; display: inline-flex; white-space: nowrap; transform: translateX(-83.55%);">
        <div class="item display-1" data-linewords="Уникальные домики для незабываемого отдыха * Легкий процесс бронирования за пару кликов * " data-direction="-1" data-speed="0.05">Уникальные домики для незабываемого отдыха * Легкий процесс бронирования за пару кликов * &nbsp;</div>

        <div class="item display-1" data-linewords="Уникальные домики для незабываемого отдыха * Легкий процесс бронирования за пару кликов * " data-direction="-1" data-speed="0.05" style="position: absolute; left: 100%;">Уникальные домики для незабываемого отдыха * Легкий процесс бронирования за пару кликов * &nbsp;</div>
      </div>

  </div>
</section>

<section data-bs-version="5.1" class="article9 cid-uls8HqResU" id="about-us-9-uls8HqResU">




  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-10">
        <div class="card-wrapper">
          <div class="card-content-text">
            <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
            <strong>О нас</strong>
          </h3>
          <div class="row card-box align-left">
            <div class="item features-without-image col-12">
              <div class="item-wrapper">

                <p class="mbr-text mbr-fonts-style display-7">Добро пожаловать в A-Frame.Kam, где каждый домик — это не просто место для ночлега, а настоящая находка для искателей приключений!</p>
              </div>
            </div>
            <div class="item features-without-image col-12">
              <div class="item-wrapper">

                <p class="mbr-text mbr-fonts-style display-7">Мы предлагаем вам уникальные деревянные домики в стиле A-Frame, которые идеально подходят для романтических уикендов, семейных каникул или просто для того, чтобы сбежать от городской суеты.</p>
              </div>
            </div>
            <div class="item features-without-image col-12">
              <div class="item-wrapper">

                <p class="mbr-text mbr-fonts-style display-7">Каждый домик — это ваша личная крепость, где вы сможете насладиться природой и забыть о повседневных заботах.</p>
              </div>
            </div>
          </div>
          </div>
          <div class="image-wrapper d-flex justify-content-center mt-3">
            <img src="https://r.mobirisesite.com/623546/assets/images/photo-1697090969014-bf6dc4f955b4.jpeg" alt="Mobirise Website Builder">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="people05 cid-uls8HqS5Cn" id="testimonials-5-uls8HqS5Cn">




	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 mb-0 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Отзывы</strong>
				</h3>

			</div>
		</div>
		<div class="row">
			<div class="item features-without-image col-12 col-md-6 col-lg-4 active">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Лучшее место для отдыха! Я влюбилась в этот домик!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/623546/assets/images/photo-1608652763120-59aab1d8125c.jpeg" alt="" data-slide-to="0" data-bs-slide-to="0">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Анна Петрова</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Невероятные виды и уют! Рекомендую всем!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/623546/assets/images/photo-1586185018558-ea8f4b4c514f.jpeg" data-slide-to="1" data-bs-slide-to="1" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Иван Сидоров</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Каждый раз, когда приезжаю, чувствую себя как дома!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/623546/assets/images/photo-1526835746352-0b9da4054862.jpeg" data-slide-to="2" data-bs-slide-to="2" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Елена Кузнецова</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Это не просто домик, это настоящая сказка!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/623546/assets/images/photo-1599566150163-29194dcaad36.jpeg" data-slide-to="4" data-bs-slide-to="4" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Дмитрий Смирнов</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Не могу дождаться следующего визита!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/623546/assets/images/photo-1589571739149-47ed80eae6ba.jpeg" data-slide-to="6" data-bs-slide-to="6" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Мария Иванова</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Каждый раз открываю для себя что-то новое!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://r.mobirisesite.com/623546/assets/images/photo-1497485692312-a26e1cc30f1d.jpeg" data-slide-to="7" data-bs-slide-to="7" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Алексей Петров</strong>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="list1 cid-uls8HqT13U" id="faq-1-uls8HqT13U">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content">
                    <div class="row justify-content-center mb-5">
                        <div class="col-12 content-head">
                            <div class="mbr-section-head">
                                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                                    <strong>Вопросы</strong>
                                </h4>

                            </div>
                        </div>
                    </div>
                    <div id="bootstrap-accordion_6" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_6" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Как забронировать домик?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Просто выберите домик, заполните форму и ждите подтверждения!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_6" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Есть ли скидки для групп?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse2_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Да, для больших компаний у нас специальные предложения!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_6" aria-expanded="false" aria-controls="collapse3">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Можно ли отменить бронирование?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse3_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Да, но лучше не делать этого, ведь вы же не хотите пропустить отдых!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_6" aria-expanded="false" aria-controls="collapse4">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Как добраться до домиков?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse4_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Мы предоставим вам все необходимые инструкции и карты!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_6" aria-expanded="false" aria-controls="collapse5">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Есть ли Wi-Fi в домиках?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse5_6" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_6">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Конечно, но мы рекомендуем отключиться и насладиться природой!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="image02 cid-uls8HqTRIf mbr-fullscreen mbr-parallax-background" id="image-13-uls8HqTRIf" style="z-index: 0; background-image: none; position: relative;">


    <div class="container">
        <div class="row"></div>
    </div>
<div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;" id="jarallax-container-0"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://r.mobirisesite.com/623546/assets/images/photo-1536415674649-19c6de404a9a.jpeg&quot;); position: absolute; top: 0px; left: 0px; width: 1536px; height: 451px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 0px; transform: translate3d(0px, -2011.55px, 0px);"></div></div></section>

<section data-bs-version="5.1" class="gallery07 cid-uls8HqToer" id="gallery-16-uls8HqToer">


  <div class="container-fluid gallery-wrapper">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        <div class="mbr-section-head mb-5">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Наши Уникальные Домики</strong>
          </h4>

        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-container-3" style="transform: translate3d(-200px, 0px, 0px);">
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/623546/assets/images/photo-1468869977640-b71ff134f40d.jpeg" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/623546/assets/images/photo-1470260453955-6e918f763fc9.jpeg" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/623546/assets/images/photo-1723527257636-2f71f59c176a.jpeg" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="https://r.mobirisesite.com/623546/assets/images/photo-1546176595-e90719d0cc21.jpeg" alt="Mobirise Website Builder">
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="news08 cid-uls8HqUQw8" id="blog-2-uls8HqUQw8">


    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-12 content-head">
                <div class="mbr-section-head">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Советы по Аренде</strong>
                    </h4>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-lg-3 active">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="https://r.mobirisesite.com/623546/assets/images/photo-1697091312070-970653f336fd.jpeg" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style mt-0 mb-3 display-7">Совет</h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-5">
                            <strong>Как Выбрать Домик</strong>
                        </h6>

                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Читать</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="https://r.mobirisesite.com/623546/assets/images/photo-1718125337973-59d45f9708a6.jpeg" alt="Mobirise Website Builder">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style mb-3 mt-0 display-7">Туризм</h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-5">
                            <strong>Лучшие Места Для Отдыха</strong>
                        </h6>

                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Читать</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="https://r.mobirisesite.com/623546/assets/images/photo-1694109236923-56af87638943.jpeg" alt="Mobirise Website Builder">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style mb-3 mt-0 display-7">Аренда</h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Плюсы Аренды Домиков</strong>
                        </h6>

                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Читать</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="https://r.mobirisesite.com/623546/assets/images/photo-1556657472-3b0c96fac63f.jpeg" alt="Mobirise Website Builder">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style mb-3 mt-0 display-7">Отдых</h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Как Провести Время</strong>
                        </h6>

                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Читать</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features10 cid-uls8HqVlHX" id="metrics-2-uls8HqVlHX">




  <div class="container">

    <div class="row justify-content-center">
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">

            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>100+</strong>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Счастливых клиентов</p>

          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">

            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>4</strong><br>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Доступных домика</p>

          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">

            <p class="card-title mbr-fonts-style mb-3 display-1">
              <strong>5</strong><br>
            </p>
            <p class="card-text mbr-fonts-style mb-3 display-7">Уникальных локаций</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="pricing02 cid-uls8HqVpZp" id="product-list-9-uls8HqVpZp">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Наши Домики</strong>
                    </h4>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                    </div>


                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="https://r.mobirisesite.com/623546/assets/images/photo-1649214806686-6f24baffc1d8.jpeg" alt="Mobirise Website Builder" data-slide-to="1">
                    </div>

                </div>
            </div>

            <div class="item features-image col-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="https://r.mobirisesite.com/623546/assets/images/photo-1542317319-c2de3883493e.jpeg" data-slide-to="2">
                    </div>

                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="https://r.mobirisesite.com/623546/assets/images/photo-1702419407393-ad2a615f3ab1.jpeg" alt="Mobirise Website Builder" data-slide-to="3">
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>

<section data-bs-version="5.1" class="header09 cid-uls8Hr5Gbj" id="call-to-action-7-uls8Hr5Gbj">



    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-1">
                    <strong>Забронируй свой идеальный домик!</strong>
                </h1>
                <p class="mbr-fonts-style mbr-text mb-4 display-7">Погрузись в мир деревянных чудес!</p>
                <div class="mbr-section-btn"><div contenteditable="true" style="position: absolute; left: -100000px; opacity: 0;"></div><a class="btn btn-primary display-7" href="https://mobiri.se">Посмотреть домики</a>
                    <div contenteditable="true" style="position: absolute; left: -100000px; opacity: 0;"></div></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="social4 cid-uls8Hr6Bgm" id="follow-us-1-uls8Hr6Bgm">




    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                    <strong>Следите за нами</strong>
                </h3>
                <div class="social-list align-center">


                    <a class="iconfont-wrapper bg-instagram m-2" href="https://mobiri.se" target="_blank">
                        <span class="socicon-instagram socicon"></span>
                    </a>








                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts03 cid-uls8Hr7fbF" id="contacts-11-uls8Hr7fbF">



  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="col-12 col-md-12">
          <h5 class="mbr-section-title mbr-fonts-style mt-0 mb-4 display-2">
            <strong>Контакты</strong>
          </h5>
          <p class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4 display-7">
            Телефон: +7 123 456 7890
            <br>Email: info_aframe.kam@gmail.com<br>Адрес: Камышин, СНТ "Березки 2", дом 12
            <br>Заселение: 14:00<br>Выселенение: 12:00<br>
          </p>


        </div>
      </div>
        <div class="col-lg-8 side-features">
        <div class="google-map"><iframe frameborder="0" style="border: 0px; --darkreader-inline-border-top: currentcolor; --darkreader-inline-border-right: currentcolor; --darkreader-inline-border-bottom: currentcolor; --darkreader-inline-border-left: currentcolor;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.3003145248895!2d-73.9884657!3d40.7477229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9ac1f1b85%3A0x7e33d1c0e7af3be4!2zMzUwIDV0aCBBdmUsIE5ldyBZb3JrLCBOWSAxMDExOCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1689597362021!5m2!1sen!2sen" allowfullscreen="" data-darkreader-inline-border-top="" data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left=""></iframe></div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-uls8Hr8QlT" once="footers" id="footer-6-uls8Hr8QlT">



    <div class="container">
        <div class="row">
            <div class="row-links">
                <ul class="header-menu">

                <li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">О нас</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Услуги</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Контакты</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Отзывы</a>
                  </li></ul>
              </div>


            <div class="col-12 mt-4">
                <p class="mbr-fonts-style copyright display-7">© 2024 A-Frame.Kam. Все права защищены.</p>
            </div>
        </div>
    </div>
</section>


  <script src="https://r.mobirisesite.com/623546/assets/web/assets/jquery/jquery.min.js?rnd=1723664572567"></script>
  <script src="https://r.mobirisesite.com/623546/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1723664572567"></script>
  <script src="https://r.mobirisesite.com/623546/assets/parallax/jarallax.js?rnd=1723664572567"></script>
  <script src="https://r.mobirisesite.com/623546/assets/smoothscroll/smooth-scroll.js?rnd=1723664572567"></script>
  <script src="https://r.mobirisesite.com/623546/assets/ytplayer/index.js?rnd=1723664572567"></script>
  <script src="https://r.mobirisesite.com/623546/assets/dropdown/js/navbar-dropdown.js?rnd=1723664572567"></script>
  <script src="https://r.mobirisesite.com/623546/assets/vimeoplayer/player.js?rnd=1723664572567"></script>
  <script src="https://r.mobirisesite.com/623546/assets/embla/embla.min.js?rnd=1723664572567"></script>
  <script src="https://r.mobirisesite.com/623546/assets/embla/script.js?rnd=1723664572567"></script>
  <script src="https://r.mobirisesite.com/623546/assets/mbr-switch-arrow/mbr-switch-arrow.js?rnd=1723664572567"></script>
  <script src="https://r.mobirisesite.com/623546/assets/scrollgallery/scroll-gallery.js?rnd=1723664572567"></script>
  <script src="https://r.mobirisesite.com/623546/assets/theme/js/script.js?rnd=1723664572567"></script>


</body>
</html>
